<h2>{{textManagementLoans.title}}</h2>
<div class="container mt-3">
  <form [formGroup]="searchStudentForm" (ngSubmit)="onSearchStudent()">
    <div class="input-group mb-3">
      <input type="text" class="form-control" formControlName="code" placeholder="Código de Estudiante">
      <button class="btn btn-primary" type="submit">{{textManagementLoans.buttonSearch}}</button>
    </div>
  </form>
  @if (studentCheck) {
  <div class="container">
    <h3>{{textManagementLoans.studentFound}}</h3>
    <div class="row">
      <div class="col-md-4">
        <p><strong>{{textManagementLoans.studentName}}</strong>{{studentCheck.student.name}}</p>
      </div>
      <div class="col-md-4">
        <p><strong>{{textManagementLoans.studentCode}}</strong>{{studentCheck.student.code}}</p>
      </div>
      <div class="col-md-4">
        <p><strong>{{textManagementLoans.studentEmail}}</strong>{{studentCheck.student.email}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p><strong>{{textManagementLoans.CollegeCareer}}</strong>{{studentCheck.student.collegeCareer}}</p>
      </div>
      <div class="col-md-4">
        <p><strong>{{textManagementLoans.studentState}}</strong>{{studentCheck.student.stateStudent ? 'Activo' : 'Inactivo'}}</p>
      </div>
      <div class="col-md-4">
        <p><strong>{{textManagementLoans.numberOfLoans}}</strong>{{studentCheck.numberOfLoans}}</p>
      </div>
    </div>
  </div>
  <form [formGroup]="searchBookForm" (ngSubmit)="onSearchBook()">
    <div class="input-group mb-3">
      <input type="text" class="form-control" formControlName="code" placeholder="Código del libro">
      <button class="btn btn-primary" type="submit">{{textManagementLoans.buttonSearch}}</button>
    </div>
  </form>
  }
  @if (errorMessageStudent) {
  <div class="alert alert-danger mt-3">
    {{errorMessageStudent}}
  </div>
  }
</div>
@if(bookCheck) {
  <div class="container">
    <h3>{{textManagementLoans.bookFound}}</h3>
    <div class="row">
      <div class="col-md-6">
        <p><strong>{{textManagementLoans.nameBook}}</strong>{{bookCheck.book.name}}</p>
      </div>
      <div class="col-md-6">
        <p><strong>{{textManagementLoans.editorial}}</strong>{{bookCheck.book.editorial}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p><strong>{{textManagementLoans.autor}}</strong>{{bookCheck.book.autor}}</p>
      </div>
      <div class="col-md-6">
        <p><strong>{{textManagementLoans.stateBook}}</strong>{{bookCheck.book.stateBook ? 'Disponible' : 'Mantenimiento'}}</p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <button (click)="onBorrowBook()" class="btn btn-primary">{{textManagementLoans.buttonLendBook}}</button>
  </div>
}
@if(errorMessageBook) {
  <div class="alert alert-danger mt-3">
    {{errorMessageBook}}
  </div>
}
