<div class="container mt-5">
  <h1 class="text-center mb-4">{{textHome.title}}</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{textHome.titleStaticsGlobal}}</h5>
          <ul class="list-group">
            <li class="list-group-item">{{textHome.itemOneGlobal}} <strong>XX</strong></li>
            <li class="list-group-item">{{textHome.itemTwoGlobal}} <strong>XX</strong></li>
            <li class="list-group-item">{{textHome.itemThreeGlobal}} <strong>XX</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{textHome.titleQuickAction}}</h5>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">{{textHome.itemOneAction}}</a>
            <a href="#" class="list-group-item list-group-item-action">{{textHome.itemTwoAction}}</a>
            <a href="#" class="list-group-item list-group-item-action">{{textHome.itemThreeAction}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
